body{
    background-color: rgb(213, 213, 213);
    font-family: "Work Sans", sans-serif;
}
.me{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas de largura igual */
    gap: 20px;
}
.habilities{
    text-align: left;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.318);
    border-radius: 100px;
}
.paragraph{
    background-color: rgb(0, 0, 108);
    color: whitesmoke;
    border-radius: 2em;
    padding: 4px;
    padding-left: 1em;
}
.title{
    font-size: 50px;
    color: whitesmoke;
}
p{
    margin-top: 0;
    margin-bottom: 4px;
}
.picetitle{
    padding-bottom: 2em;
    justify-items: center;
}
.top{
    background-image: url("https://wallpapercave.com/wp/wp14067917.jpg");
    /*background-color: rgb(0, 15, 69);*/
    padding: 2em;
    background-size: 100%;
}
.items{
    padding-left: 15px;
}
.avatar-border{
    border-radius: 100%;
    background-color: whitesmoke;
    width: 160px;
    height: 160px;
}
.pic{
    justify-content: center;
    margin-top: 5px;
}
main{
    margin-top: 2em;
    padding: 2em;
    margin-bottom: 2em;
}
.main-title{
    font-size: 30px;
    padding-bottom: .2em;
}
.card:hover{
    background-color: rgb(213, 213, 213);
    box-shadow: 3px 3px 15px inset;
    padding: 1em;
}
.card{
    background-color: rgb(213, 213, 213);
    box-shadow: 3px 3px 15px;
    padding: 1em;
}
.button:hover{
    border-radius: 2em;
    box-shadow: 2px 2px 10px inset rgb(2, 20, 85);
}
.tvt{
    padding-top: 5.8em;
    padding-bottom: 5.8em;
}
.door{
    padding-top: 2.5em;
    padding-bottom: 2.5em;
}
